@import "./utils/vars";
@import "./base/reset";
@import "./base/common";

@import "./components/container";
@import "./components/button";
@import "./components/logo";
@import "./components/section";
@import "./components/title";
@import "./components/visually-hidden";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantage";
@import "./layout/work";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/modal";
@import "./layout/projects";
@import "./layout/mobile-menu";
