.advantage {
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__text {
    display: flex;
  }

  &__pre-text:not(:last-child) {
    margin-right: 30px;
  }

  &__list-text {
    margin-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

    text-transform: uppercase;
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
