.advantage {
  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__text {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
    // display: flex;
  }

  &__pre-text {
    @media screen and (min-width: 480px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
        width: 354px;
        height: 251px;
      }
      width: 354px;
      height: 226px;
      &:nth-child(n + 2) {
        margin-bottom: 0px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0px;
      }
      &:nth-child(n + 1) {
        width: 270px;
        height: 251px;
      }

      // width: 270px;
      // height: 251px;
    }
  }

  // &__pre-text:not(:last-child) {
  //   margin-right: 30px;
  // }

  &__list-text {
    @media screen and (min-width: 480px) {
      text-align: center;
    }
    @media screen and (min-width: 768px) {
      text-align: start;
    }

    margin-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--main-title-color);

    text-transform: uppercase;
  }

  &__title {
    @media screen and (min-width: 480px) {
      // margin-bottom: 30px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 0px;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
