.clients {
  &__box {
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    // display: flex;
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__link {
    @media screen and (min-width: 480px) {
      width: 210px;
      height: 92px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
      margin-bottom: 0px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    // width: 170px;
    // height: 92px;

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  &__link-icon {
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #757575;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
