.container-footer {
  // display: flex;
  align-items: baseline;

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: start;
  }
}

.footer-container {
  margin-bottom: 60px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__pre-container:not(:last-child) {
    margin-bottom: 9px;
  }

  &__map {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

address {
  font-family: Roboto;
  font-style: normal;
}

.social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  // margin-left: 70px;
  margin-bottom: 60px;
  align-items: center;

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__links {
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  &__pre-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;

    & + .social__pre-link {
      margin-left: 10px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: var(--accent-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.send {
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    margin-bottom: 20px;
  }

  &__mail {
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
    // margin-left: 93px;
  }

  &__form {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
    // display: flex;
  }

  &__icon {
    width: 24px;
    height: 24px;

    margin-left: 10px;
  }
}

.input-mail {
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-right: 0px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
  // width: 358px;
  // width: 100%;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;

  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}

.button-send {
  @media screen and (min-width: 480px) {
    margin: auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  border-radius: 4px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  padding: 10px 28px;
  cursor: pointer;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
