.header {
  padding: 16px 0px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  // display: flex;
  // align-items: center;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.button-menu {
  width: 40px;
  height: 40px;
}

.header-button__close {
  @media screen and (min-width: 768px) {
    display: none;
  }
  background-color: white;
  border: none;
  cursor: pointer;
}

.header {
  &__box-list {
    display: flex;
  }

  &__list .current {
    color: #2196f3;
  }

  &__list + .header__list {
    margin-left: 50px;
  }

  &__link {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--header-text-color);

    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &.current::after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      position: absolute;
      display: block;
      bottom: 0;
      border-radius: 2px;
    }
  }
}

.header-tel-mail {
  // display: flex;
  // align-items: center;
  // margin-left: auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;

    .header-contact:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    .header-contact:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}

.header-mail {
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-tel {
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
