.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-image: url(/images/symbol-defs.svg);
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero-text {
  @media screen and (min-width: 480px) {
    width: 360px;
    height: 84px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;

    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    height: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
  }

  // width: 696px;
  // height: 120px;
  // font-family: Roboto;
  // font-style: normal;
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // text-align: center;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;
  // color: #ffffff;

  // margin: 0 auto;
  // margin-bottom: 30px;
  // display: block;
}
