.backdrop {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: 100vw;
  }

  @media screen and (min-width: 1200px) {
    width: 100vw;
  }
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  transition: opacity 500ms linear, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) translate(-1000px);
  transition: transform 500ms;
}

.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1);
  transform: translate(-50%, -50%);
  transition: transform 500ms;

  &__close {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: currentColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__close-icon {
    width: 18px;
    height: 18px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__field-feedbeck {
    margin-bottom: 20px;
  }

  &__field-check {
    margin-bottom: 30px;
  }

  &__input-text {
    display: block;
    margin-bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: #757575;
  }

  &__wrap {
    position: relative;
  }

  &__form-text {
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border: 1px solid #2196f3;
      border-radius: 4px;
    }
  }

  &__check-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__check-icon {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-color);

    margin-left: 3px;

    @media screen and (min-width: 1200px) {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;
      text-decoration-line: underline;

      color: var(--accent-color);

      margin-left: 3px;
    }
  }

  &__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;

    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  &__policy-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #757575;
  }

  @media screen and (min-width: 1200px) {
    &__policy-text {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */

      letter-spacing: 0.03em;

      color: #757575;
    }
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.person-modal {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  padding-left: 42px;
  padding-right: 12px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }

  &:focus + .person-modal {
    fill: var(--accent-color);
  }

  &::modal-form-input {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.check-icon-modal {
  width: 11px;
  height: 8px;
  fill: #ffffff;
}

.modal-check:checked + .modal__check-text .modal__check-icon {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:focus + .modal__check-text .modal__check-icon {
  border-color: var(--accent-color);
}
