.projects {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  &__box-btn {
    @media screen and (min-width: 480px) {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) {
      display: block;
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    // display: block;
    // display: flex;
    // justify-content: center;
    // margin-bottom: 50px;
  }

  &__button {
    @media screen and (min-width: 480px) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__list-btn {
    padding: 8px 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #f5f4fa;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: #2196f3;
      /* shadow-middle */
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }

  &__img {
    @media screen and (min-width: 480px) {
      width: 450px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      width: 354px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-last-child(-n + 3) {
        margin-bottom: 0px;
      }

      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    // width: 370px;
    // margin-right: 30px;
    // margin-bottom: 30px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    // &:nth-last-child(-n + 3) {
    //   margin-bottom: 0px;
    // }
  }

  &__link :hover .flex-top-text,
  :focus .flex-top-text {
    transform: translateY(0);
  }

  &__img-wrap {
    position: relative;
    overflow: hidden;
  }

  &__text-container {
    padding: 20px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid#eee;
    border-left: 1px solid #eee;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: var(--portfolio-text-color);
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

.flex-top-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
