.img-items {
  width: 100%;
}

.team {
  background-color: #f5f4fa;

  &__container {
    // display: flex;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__pre-items {
    @media screen and (min-width: 480px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
      width: 270px;
      margin-bottom: 30px;
    }
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

  &__box-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__items-text {
    margin-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
  }

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  &__box-link {
    width: 44px;
    height: 44px;
  }

  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: linear cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #2196f3;
      color: white;
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
