.work {
  &__container {
    padding-bottom: 94px;
  }

  &__container-img {
    display: inline-flex;
  }

  &__item-img {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;

      display: inline-block;
      width: 370px;
      height: 70px;

      background-color: rgba(47, 48, 58, 0.8);
    }
  }

  &__img-text {
    position: absolute;
    bottom: 27px;
    left: 83px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
